th {
	border-spacing: 0px;
	margin: auto;
	text-align: center;
	border: 5px solid powderblue;
	background-color: purple;
}

table{
	width: 45%;
	text-align: center;
	border-spacing: 0px;
	margin: auto;
	border: 7px solid powderblue;
}
.tekst {
	background-color: blue;
	border-spacing: 0px;
	border: 10px solid red;
}
.img {
	border-spacing: 0px;
	border: 10px solid red;
	margin-left: auto;
	margin-right: auto;
}